body {
  background-color: LightBlue;
}
div.focalor
{
transition-property: transform;
transition-duration: 2s;
transition-timing-function: ease-in-out;
}

focalors:hover 
{
	transform: scale(.75);
}

.water
{
position:absolute;
z-index:30;
text-align: center;
top: 320px;
left: 50px;
right: 50px


}

img.water 
{

}

.Navtitle
{
	padding: 60px;
	text-align: center;
	background: #1E90FF;
	color: white;
	font-size: 30px;
}
h1
{
	font-family: Garamond, serif;
}
}
.Navright
{
	padding: 60px;
	text-align: center;
	background: #1E90FF;
	color: white;
	font-size: 30px;
}

p
{
	text-align:center;
	color: white;
	font-family: Garamond, serif;
	

}
a
{
	text-align:right;
	color: white;
	display: inline-block;
	padding: 5px 10px;
	font-family: Garamond, serif;
}

img {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.waterA
{
	z-index: 10;
position: relative;
top: 350px;
left: 50px;
	
}
.waterB
{
	z-index: 5;
position: relative;
top: 20px;
left: 20px;
	
}

.intro
{
	margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 150px;
  margin-left: 260px;
}

h1, h2
{
	font-size: 40px;
}

p1
{
	font-size: 30px;
}

.waterC
{
	text-align: right;
}




.why
{
max-width:50%;
border-radius: 8px;

border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px DarkTurquoise;
}
.CNE
{
	max-width:50%;
border-radius: 8px;
 border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px DarkTurquoise;

}
.SE
{
	max-width:50%;
	border-radius: 8px;
 border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px DarkTurquoise;
}
.sdg
{
	max-width:50%;
border-radius: 8px;
border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px DarkTurquoise;
;

}

.nani1
{
	display: flex;
	justify-content: center;
	
  
}
.nani2
{
	display: flex;
	justify-content: center;
	
  
}


.quote
{
	text-align: center;
	font-size: 40px;
}


.Contact
{
	padding: 20px;
	text-align: left;
	background: #1E90FF;
	color: white;
	font-size: 20px;
}

.footer
{
	padding: 20px;
	text-align: center;
	background: #00CED1;
	color: white;
	font-size: 20px;
}
